<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>Registrar espacios</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'img/icon.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/estilo_form.css' %}">
</head>
<body>
    {% include 'header.html' %}

    <!-- AGREGAR -->
    <main class="container my-4">
        {% block content %}
        <section class="mb-5">
            <div class="card shadow-sm p-4">
                <form id="form_espacio" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <div class="row text-center">
                        <!-- Datos de la espacio -->
                        <div class="col-lg-6 mb-4">
                            <h3>Datos de la espacio</h3>
                            <div class="mb-3">
                                <label for="val_localidad_p" class="form-label">Localidad donde está ubicado el espacio</label>
                                <select class="form-select" id="val_localidad_p" name="val_localidad_p" aria-label="Provincia/comuna donde está ubicada el espacio">
                                    <option selected disabled>Seleccione la localidad</option>
                                    {% for l in localidad %}
                                        <option value="{{ l.id_localidad }}" {% if l.id_localidad == espacio.id_localidad.id_localidad %} selected {% endif %}>{{ l.nombre_localidad }}</option>
                                    {% empty %}
                                        <option disabled>No hay localidades registradas</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="val_nombre_p" class="form-label">Nombre espacio</label>
                                <input type="text" class="form-control" id="val_nombre_p" name="val_nombre_p" 
                                       required maxlength="50" value="{{ espacio.nombre_espacio }}" 
                                       placeholder="Ej: Invernadero sede de Ingenieria UPLA" 
                                       pattern="^[A-Za-z]+(?: [A-Za-z]+)*$" title="Solo se permiten caracteres alfabéticos">
                            </div>
                            <div class="mb-3">
                                <label for="val_direccion_p" class="form-label">Dirección donde se encuentra el espacio</label>
                                <input type="text" class="form-control" id="val_direccion_p" name="val_direccion_p" 
                                       required maxlength="50" value="{{ espacio.direccion_espacio }}" 
                                       placeholder="EJ: Subida Leopoldo Carvallo 270, Valparaíso">
                            </div>
                            <div class="mb-3">
                                <label for="utm" class="form-label">Ingrese las coordenadas según UTM</label>
                                <input type="text" class="form-control" id="utm" name="utm" 
                                       required maxlength="50" value="{{ espacio.utm }}" 
                                       placeholder="Ej: Zona 14N 500000mE 4649776mN">
                            </div>
    
                            <label for="tipo_espacio" class="form-label">Seleccione el tipo de espacio</label>
                            <select class="form-select" id="tipo_espacio" name="tipo_espacio" aria-label="Tipo de espacio">
                                <option selected disabled>Seleccione tipo de espacio</option>
                                {% for t in tipo_espacio %}
                                    <option value="{{t.id_tipo_espacio}}" {% if t.id_tipo_espacio == espacio.id_tipo_espacio.id_tipo_espacio %} selected {% endif %}>
                                        {{ t.nombre_tipo_espacio }}
                                    </option>
                                {% empty %}
                                    <option disabled>No hay tipos de espacio disponibles</option>
                                {% endfor %}
                            </select>
    
                            <label for="input-imagen" class="form-label">Imagen de espacio</label>
                            <input type="file" id="input-imagen" name="input-imagen" accept="image/*" class="form-control mt-3">
                        </div>
    
                        <!-- Imagen de la espacio -->
                        <div class="col-lg-6 mb-4">
                            <h3>Imagen del espacio</h3>
                            <div class="contenedor-imagen mx-auto" id="imagen-contenedor">
                                {% if espacio.imagen_espacio %}
                                    <img src="{{ espacio.imagen_espacio.url }}" alt="Imagen del espacio" class="img-fluid">
                                {% else %}
                                    <p>No hay imagen registrada.</p>
                                {% endif %}
                            </div>
                        </div>
    
                        <!-- Botón de registro -->
                        <div class="col-12 text-center">
                            <button class="btn btn-primary mt-3 px-5" type="submit">Confirmar Edición</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        {% endblock %}
    </main>
    <!-- AGREGAR -->

    {% include 'footer.html' %}

    <script src="{% static 'js/img_show.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
