<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>Registrar Plantas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'img/icon.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo_tabla.css' %}">

    <script src="{% static 'js/vista_imagen.js'%}"></script>
    <script src="{% static 'js/form_emergente.js' %}"></script>
</head>
<body>
  {% include 'header.html' %}
  <main class="container my-4">
    {% block content %}
    <!--muestra de datos-->
    <section class="mb-5">
      <div class="card shadow-sm p-4">
        {% csrf_token %}
        <div class="row" style="text-align: center">
          <div class="col-6">
            <div class="p-6">
              <h3>Imagen del espacio</h3>
              <!-- Parte de vista_espacio -->
              <div class="contenedor-imagen mx-auto" id="imagen-contenedor">
                {% if dato.imagen_espacio %}
                    <img id="imagen-actual" src="{{dato.imagen_espacio.url}}" alt="Imagen del espacio" class="img-fluid">
                {% else %}
                  <p>No hay imagen registrada.</p>
                  <img id="imagen-actual" src="/static/img/img_parcela.png" alt="Imagen predeterminada" class="img-fluid">
                {% endif %}
              </div>            
            </div>
          </div>
          <input type="hidden" id="id_espacio" value="{{id_espacio}}">
          <div class="col-6">
            <!-- Columna para el resto del formulario -->
            <h3>Datos del espacio</h3>
            <!-- localidad_parcela -->
            <label for="val_localidad_p" class="form-label"><strong>Localidad de la parcela</strong></label>
            <div style="background-color:cyan;border-radius: 15px;">
              {{ dato.id_localidad_id.nombre_localidad }}
            </div>
               <!-- Campo oculto donde se va a asignar el valor de id_espacio mediante JavaScript -->
              <input type="hidden" id="id_espacio_form" name="id_espacio" value="{{ dato.id_espacio }}">
            <!-- Nombre parcela -->
            <label for="val_nombre_p" class="form-label"><strong>Nombre parcela</strong></label>
            <div style="background-color:cyan;border-radius: 15px;">
              {{ dato.nombre_espacio }}
            </div>
                              
            <!-- Direccion parcela -->
            <label for="val_direccion_p" class="form-label"><strong>Dirección de la parcela</strong></label>
            <div style="background-color:cyan;border-radius: 15px;">
              {{ dato.direccion_espacio }}
            </div>
            
            <!-- UTM -->
            <label for="val_direccion_p" class="form-label"><strong>UTM</strong></label>
            <div style="background-color:cyan;border-radius: 15px;">
              {{ dato.utm }}
            </div>
          </div>
  
          <div class="row justify-content-md-center" style="margin-top: 20px;">
            <!-- Botón para abrir el modal de división de espacio -->
            <button class="btn btn-success col-3" style="margin:20px" 
                    data-form-type="division_espacio"
                    data-id-espacio="{{ dato.id_espacio }}">
                Registrar división espacio
            </button>
            
            <!-- Botón para abrir el modal de registro de nuevo arduino -->
            <button class="btn btn-success col-3" style="margin:20px" 
                    data-form-type="arduino">
                Registrar nuevo arduino
            </button>
            
            <!-- Enlace para redirigir a la página de registro de plantación -->
            <button class="btn btn-success col-3" style="margin:20px" data-form-type="planta">
              Añadir una nueva plantacion
            </button>
          </div>
        </div>
      </div>
    </section>
  
    <!-- Informacion sobre las divisiones (solo si no es humedal) -->
    {% if dato.id_tipo_espacio.nombre_tipo_espacio != 'Humedal' %}
    <section class="mb-5">
      <h2>Información sobre las divisiones</h2>
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">ID división Espacio</div>
          <div class="col col-3">Tipo división</div>
          <div class="col col-4">Identificador</div>
          <div class="col col-6">Acciones</div>
        </li>
        
        {% for d in division %}
          <li class="table-row">
            <div class="col col-1" data-label="ID división Parcela">{{ d.id_division_espacio }}</div>
            <div class="col col-3" data-label="Tipo división">{{ d.tipo_division }}</div>
            <div class="col col-4" data-label="Identificador">{{ d.identificador }}</div>
            <div class="col col-6" data-label="Acciones">
              <a href="{% url 'editar_division' d.id_division_espacio id_espacio%}"  class="btn btn-warning">
                <i class="fas fa-edit"></i></a>
              <a href="{% url 'eliminar_division' d.id_division_espacio id_espacio%}" class="btn btn-danger">
              <i class="fas fa-trash-alt"></i></a>
            </div>
          </li>
        {% empty %}
          <li class="table-row"><div class="col" colspan="6">No divisiones registradas</div></li>
        {% endfor %}
      </ul>
    </section>
    {% endif %}
  
    <!-- Información sobre las plantas (solo si no es humedal) -->
    {% if dato.id_tipo_espacio.nombre_tipo_espacio != 'Humedal' %}
    <section class="mb-5">
      <h2>Información sobre las plantas</h2>
      <ul class="responsive-table">
          <li class="table-header">
              <div class="col col-1">ID</div>
              <div class="col col-2">Fecha siembra</div>
              <div class="col col-3">Fecha cosecha</div>
              <div class="col col-4">Descripción planta</div>
              <div class="col col-6">Acciones</div>
          </li>
          
          {% for planta in plantas %}
              <li class="table-row">
                  <div class="col col-1" data-label="ID Planta">{{ planta.id_planta }}</div>
                  <div class="col col-2" data-label="ID Planta">{{ planta.fecha_siembra }}</div>
                  <div class="col col-3" data-label="ID Planta">{{ planta.fecha_extraccion }}</div>
                  <div class="col col-4" data-label="ID Planta">{{ planta.descripcion_planta }}</div>
                  <div class="col col-6" data-label="Acciones">
                      <button class="btn btn-warning" data-form-type="plantacion"><i class="fas fa-edit"></i></button>
                      <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                  </div>
              </li>
          {% empty %}
              <li class="table-row"><div class="col" colspan="6">No plantas registradas en esta división.</div></li>
          {% endfor %}
      </ul>
  </section>
    {% endif %}
  
    <section class="mb-5">
      <h2>Información sobre sensores</h2>
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">ID arduino</div>
          <div class="col col-2">Modelo</div>
          <div class="col col-3">Estado</div>
          <div class="col col-4">Acciones</div>
        </li>
        
        {% for a in arduino %}
          <li class="table-row">
            <div class="col col-1" data-label="ID arduino">{{ a.id_arduino }}</div>
            <div class="col col-2" data-label="Modelo">{{ a.modelo_arduino }}</div>
            <div class="col col-3" data-label="Estado">{{ a.estado }}</div>
            <div class="col col-4" data-label="Acciones">
              <a href="{% url 'vista_sensores' a.id_arduino%}" class="btn btn-info"><i class="fas fa-eye"></i></a>
              <button class="btn btn-warning" data-form-type="arduino"><i class="fas fa-edit"></i></button>
              <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
            </div>
          </li>
        {% empty %}
          <li class="table-row"><div class="col" colspan="6">No sensores registrados</div></li>
        {% endfor %}
      </ul>
    </section>
      <!-- Modal y overlay No borrar-->
      <div class="overlay" id="overlay" aria-hidden="true"></div>
      <div id="modalContainer" aria-hidden="true"></div>
    {% endblock %}
  </main>

  {% include 'footer.html' %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
