<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>Registrar plantas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'img/icon.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo_form_emergente.css' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="container">
                <img src="{% static 'img/logoupla.png' %}" alt="Logo UPLA" width="100" class="mb-3">
                <h1>Monitoreo de Humedal</h1>
                <p>Sistema de Control y Gestión de Calidad del Agua</p>
                
                <!-- Barra de navegación -->
                <nav class="navbar" style="background-color: #e3f2fd;">
                    <a class="navbar-brand" href="{% url 'home' %}">Inicio</a>
                    <a href="{% url 'tipo_planta' %}" class="btn btn-success btn-lg" role="button">Tipo Planta</a>
                    <a href="{% url 'registro_parcela' %}" class="btn btn-success btn-lg" role="button">Registro Parcela</a>
                    <a href="{% url 'registro_planta' %}" class="btn btn-success btn-lg" role="button">Registro Planta</a>
                    <a href="{% url 'home' %}" class="btn btn-success btn-lg" role="button">Home</a>
                    <a href="{% url 'bt_varios' %}" class="btn btn-success btn-lg" role="button">Pruebas con Botones</a>
                </nav>
            </div>            
        </div>
    </header>

    <main class="container my-4">
        <section class="mb-5">
            <button data-form-type="arduino">Abrir Formulario Arduino</button>
            <button data-form-type="division_parcela">Abrir Formulario División Parcela</button>
            <button data-form-type="modelo_sensor">Abrir Formulario Modelo Sensor</button>
            <button data-form-type="planta">Abrir Formulario Planta</button>
            <button data-form-type="sensor">Abrir Formulario Sensor</button>
            <button data-form-type="tipo_dato">Abrir Formulario Tipo Dato</button>
        </section>

        <!-- Contenedor donde se cargará el modal -->
        <div class="overlay" id="overlay"></div>
        <div id="modalContainer"></div>
    </main>

    <footer>
        <div class="container text-center">
            <p>&copy; 2024 Universidad de Playa Ancha. Todos los derechos reservados.</p>
            <img src="{% static 'img/logoupla.png' %}" alt="Logo UPLA" width="80">
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/form_emergente.js' %}"></script>
</body>
</html>
