<style>
    footer {
        background: #b2dfee;
        color: var(--light-text-color);
        padding: var(--spacing-md) 0;
    }
    
    footer p {
        margin: 0;
        font-size: 0.9rem;
    }
    
    footer img {
        margin-top: var(--spacing-sm);
        
    }
</style>

{% load static %}
<footer>
    <div class="container text-center">
        <p style="color: black;">&copy; 2025 Universidad de Playa Ancha. Todos los derechos reservados.</p>
        <img src="{% static 'img/logo.png' %}" alt="Logo UPLA" width="150">
    </div>
</footer>
