<!DOCTYPE html>
<html lang="es">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>Monitoreo de Humedal - Universidad de Playa Ancha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'img/icon.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    {% include 'header.html' %}

    <main class="container my-4">
        {% block content %}
        <section class="mb-5">
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for nombre_dato, data in estadisticas.items %}
                    <div class="carousel-item{% if forloop.first %} active{% endif %}">
                        <div class="row">
                            <div class="col-lg-6 mb-4">
                                <div class="card shadow-sm h-100">
                                    <div class="card-body">
                                        <div class="stat-card">
                                            <h2 class="text-danger">{{ nombre_dato }}</h2>
                                            <hr>
                                            <p><strong>Máximo:</strong> <span id="max-{{ forloop.counter }}">{{ data.max }}</span></p>
                                            <p><strong>Fecha:</strong> <span id="max-date-{{ forloop.counter }}">
                                                {% for registro in data.datos_recientes %}
                                                    {{ registro.fecha_registro }}
                                                {% endfor %}
                                            </span></p>
                                            <hr>
                                            <p><strong>Mínimo:</strong> <span id="min-{{ forloop.counter }}">{{ data.min }}</span></p>
                                            <p><strong>Fecha:</strong> <span id="min-date-{{ forloop.counter }}">
                                                {% for registro in data.datos_recientes %}
                                                    {{ registro.fecha_registro }}
                                                {% endfor %}
                                            </span></p>
                                            <hr>
                                            <p><strong>Promedio:</strong> <span id="avg-{{ forloop.counter }}">{{ data.avg|floatformat:2 }}</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <div class="card shadow-sm h-100">
                                    <div class="card-body">
                                        <!-- Espacio para más contenido -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        
                <!-- Botones de navegación mejorados -->
                <button class="carousel-control-prev custom-carousel-btn" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon custom-carousel-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next custom-carousel-btn" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon custom-carousel-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>
            </div>
        </section>
        

        <section class="mb-5">
            <div class="row">
                {% for tipo, datos in estadisticas.items %}
                    <div class="col-lg-6 mb-4">
                        <div class="card shadow-sm h-100">
                            <script id="estadisticas-data" type="application/json">
                                {{ estadisticas|safe }}
                            </script>
                            <div class="card-body">
                                <!-- Incluir los datos en un script oculto -->
                                <div>                            
                                    <h3>{{ tipo }}</h3>
                                    <canvas id="chart_{{ tipo|slugify }}"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>            
        {% endblock %}
    </main>  
        
    {% include 'footer.html' %}
</body>

</html>