<table class="table">
    <thead>
        <tr>
            <th>Valor</th>
            <th>Fecha</th>
            <th>Nombre del Sensor</th>  <!-- Nueva columna para el nombre del sensor -->
            <th>Tipo de Dato</th>
        </tr>
    </thead>
    <tbody>
        {% for registro in registros %}
            <tr>
                <td>{{ registro.valor }}</td>
                <td>{{ registro.fecha_registro|date:"d/m/Y H:i" }}</td>
                <td>{{ registro.sensor_name }}</td>  <!-- Mostrar el nombre del sensor -->
                <td>{{ registro.tipo_dato_name }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">No hay datos disponibles</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
