<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>Registrar plantas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'img/icon.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo_form.css' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="container">
                <img src="{% static 'img/logoupla.png' %}" alt="Logo UPLA" width="100" class="mb-3">
                <h1>Monitoreo de Humedal</h1>
                <p>Sistema de Control y Gestión de Calidad del Agua</p>
                
                <!-- Barra de navegación -->
                <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: var(--bs-primary);">
                    <a class="navbar-brand text-light fw-bold" href="{% url 'home' %}" 
                       style="font-family: 'Arial', sans-serif; font-size: 1.5rem; padding-left: 1rem;">
                        Inicio
                    </a>
                    
                    <!-- Botón de menú en pantallas pequeñas -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <!-- Elementos del menú -->
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link {% if request.resolver_match.url_name == 'tipo_planta' %}active{% endif %}" href="{% url 'tipo_planta' %}">Tipo Planta</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.resolver_match.url_name == 'registro_parcela' %}active{% endif %}" href="{% url 'registro_parcela' %}">Registro Parcela</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.resolver_match.url_name == 'registro_planta' %}active{% endif %}" href="{% url 'registro_planta' %}">Registro Planta</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.resolver_match.url_name == 'bt_varios' %}active{% endif %}" href="{% url 'bt_varios' %}">Pruebas con Botones</a>
                            </li>
                        </ul>
                    </div>
                </nav>   
            </div>            
        </div>
    </header>

    <main class="container my-4">
        <section class="mb-5">
            <div class="card shadow-sm p-4">
                <form id="form_planta" enctype="multipart/form-data" method ="POST">
                    {% csrf_token %}
                    <div class="row" style="text-align: center">
                        <h1>Datos del tipo de planta</h1>
                        <div class="col-6">
                            <div class="p-6">
                                <h3>Imagen de la planta</h3>
                                <div class="contenedor-imagen mx-auto" id="imagen-contenedor">
                                    <!-- La imagen se mostrará aquí -->
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="nombre_comun" class="form-label">nombre comun de la planta</label>
                            <input  type="text" 
                                    class="form-control" 
                                    id="nombre_comun"
                                    name="nombre_comun" 
                                    required
                                    maxlength="50" 
                                    pattern="^[A-Za-z0-9]+(?: [A-Za-z0-9]+)*$" 
                                    title="Solo se permiten caracteres alfabéticos, numéricos">

                            <label for="nombre_cientifico" class="form-label">nombre cientifico de la planta</label>
                            <input  type="text" 
                                    class="form-control" 
                                    id="nombre_cientifico" 
                                    name="nombre_cientifico" 
                                    required
                                    maxlength="50" 
                                    pattern="^[A-Za-z0-9]+(?: [A-Za-z0-9]+)*$" 
                                    title="Solo se permiten caracteres alfabéticos, numéricos">

                            <label for="descripcion_planta" class="form-label">Ingrese una descripcion de la planta</label>
                            <textarea  type="" 
                                    class="form-control" 
                                    id="descripcion_planta" 
                                    name="descripcion_planta"
                                    required
                                    placeholder="las características principales de la planta, como debe lucir, cuanto tarda en crecer, etc."
                                    maxlength="50" 
                                    pattern="^[A-Za-z0-9]+(?: [A-Za-z0-9]+)*$" 
                                    title="Solo se permiten caracteres alfabéticos, numéricos"></textarea>
                            
                            <!-- Input para cargar la imagen -->
                            <label for="file" class="form-label">Ingrese una imagen de la planta</label>
                            <input type="file" id="input-imagen" name ="input-imagen" accept="image/*" class="form-control">
                        </div>
                    </div>
                    <div class="row justify-content-md-center"style="margin-top: 20px;">
                        <button class="btn btn-primary col-4" type="submit">Registrar tipo planta</button>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <footer>
        <div class="container text-center">
            <p>&copy; 2024 Universidad de Playa Ancha. Todos los derechos reservados.</p>
            <img src="{% static 'img/logoupla.png' %}" alt="Logo UPLA" width="80">
        </div>
    </footer>

    <script src="{% static 'js/img_show.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>