<div class="modal">
    <h2>Formulario</h2>

    <form id="arduinoForm" method="POST" action="{% url 'modal_view' %}?form_type=arduino">
        {% csrf_token %}
        <!-- Campo oculto para el id_espacio -->
        <input type="hidden" id="id_espacio" name = "id_espacio" value="{{espacio.id_espacio}}">

        
        <div class="col 8">
            <select style="margin-bottom: 5%;" class="form-select" id="modelo_arduino" name="modelo_arduino" aria-label="Seleccione un arduino">
                <option selected disabled>Seleccione un arduino</option>
                <option value="Mega">Mega</option>
                <option value="Uno">Uno</option>
                <option value="Nano">Nano</option>
                <option value="Esp32">Esp32</option>
            </select>
            <input type="radio" class="btn-check" name="options" id="option1" values ="1" autocomplete="off" >
            <label class="btn btn-outline-success" for="option1">Arduino activo</label>

            <input type="radio" class="btn-check" name="options" values="0" id="option2" autocomplete="off">
            <label class="btn btn-outline-danger" for="option2">Arduino inactivo</label>
        </div>
            <button type="submit">Enviar</button>
            <button type="button" id="closeModal">Cerrar</button>
    </form>
</div>