<div class="modal">
    <h2>Formulario division de las parcelas</h2>
    <form id="divisionParcelaForm">
        <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>


        <!-- Los siguiestes input pertenecen a division_parcela-->
        <div class="col-12">
            <label for="tipo_division" class="form-label"> Tipo de division </label>
            <input  type="text" 
                    class="form-control" 
                    id="tipo_division" 
                    required
                    maxlength="50" >
        </div>
        
        <div class="col-12">
            <label for="identificador_division" class="form-label">Ingrese un numero identificador de la division</label>
            <input  type="number" 
                    class="form-control" 
                    id="identificador_division" 
                    required>
        </div>

        <button type="submit" class="btn btn-outline-success">Enviar</button>
        <button type="button" class="btn btn-outline-danger" id="closeModal">Cerrar</button>
    </form>
</div>