<div class="modal">
    <h2>Formulario</h2>
    <form id="divisionParcelaForm">
        <div class="row">
            <!-- Los siguiestes input pertenecen a division_parcela-->
            <div class="col-12">
                <label for="tipo_division" class="form-label"> Tipo de division </label>
                <input  type="text" 
                        class="form-control" 
                        id="tipo_division" 
                        required
                        maxlength="50" >
            </div>

            <div class="col-12">
                <label for="identificador_division" class="form-label">Ingrese un numero identificador de la division</label>
                <input  type="number" 
                        class="form-control" 
                        id="identificador_division" 
                        required>
            </div>
        </div>
        <button type="submit">Enviar</button>
        <button type="button" id="closeModal">Cerrar</button>
    </form>
</div>