<div class="modal">
    <h2>Formulario planta</h2>
    {% csrf_token %}
    <form id="plantaForm" method="POST" action="{% url 'modal_view' %}?form_type=planta">
        <div class="row">
            <div class="col-6">
                <label class="text-normal text-dark form-label">Descripcion</label><br>
                <textarea id="descripcion_planta" name="descripcion_planta" rows="4" required></textarea>
            </div>

            <div class="col-6">
                <label class="text-normal text-dark form-label">observaciones</label><br>
                <textarea id="observaciones_planta" name="observaciones_planta" rows="4" required></textarea>
            </div>

            <div class="col-6">
                <label class="text-normal text-dark form-label">Fecha de extraccion</label>
                <input type="date" name="fecha_extraccion" class="form-control" required id="fecha_extraccion">
            </div>

            <div class="col-6">
                <label class="text-normal text-dark form-label">Fecha de siembra</label>
                <input type="date" name="fecha_siembra" class="form-control" required id="fecha_siembra">
            </div>
        </div>
            <button type="submit">Enviar</button>
            <button type="button" id="closeModal">Cerrar</button>
    </form>
</div>
